{% extends 'cmd1/base.html' %}
{% load static %}

{% block content %}
{% include 'cmd1/navbar.html' %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Sign Out</h3>
            </div>
          </div>
          <div class="layout__body">
            <h2 class="auth__tagline">You have been signed out</h2>
    
            <img src="{% static 'images/logo.svg' %}" alt="Our website logo" width="250" height="250">

            <div class="auth__action">
              <p>Sign In again?</p>
              <a href="{% url 'login' %}" class="btn btn--link">Sign In</a>
            </div>
          </div>
        </div>
      </div>
</main>
{% endblock content %}